doctype html
html

  // HEAD
  head
    title=title
    //- link(rel='stylesheet', href='rubrik.css')

  // BODY
  body

    //- HEADER
    header

    //- MAIN
    main
      //- div(style='height: 500px;')
      //- div(style='width: 50%;')
      canvas(id='rubrik' style='width: 100%; height:100%;')
      //- button(onclick='RubrikCube.changeSet()') Change Set
      //- button(onclick='RubrikCube.changeRotation()') Change Rotation
      block content

    //- FOOTER
    footer

    //- SCRIPTS
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js' type='text/javascript')
    script(src='three.min.js' type='text/javascript')
    script(src='CanvasRenderer.js' type='text/javascript')
    script(src='OrbitControls.js' type='text/javascript')
    script(src='rubrik.min.js' type='text/javascript')
